<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    {% block title %}<title>Notes</title>{% endblock %}
</head>
<body>
    <div class="note-list">
        <h1>MY NOTES</h1>
        <div id="page-header" class="page-header">
            <a href="{% url 'note-new' %}" class="top-menu">Post New Note</a>
        </div>
       {% for note in notes %}
       <div class="note" id="{{note.pk}}">
        <a class="note-title" href="{% url 'notes-detail' note.pk %}">{{note.title}}</a>
        <p>Last updated: {{note.updated_at}}</p>
       </div>
       {% endfor %} 
    </div>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>