* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope';
    margin-left: 1rem;
    background-color: #E5ECF4;
}

.note-list {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #C3BEF7;
    contain: content;
    padding-left: 5px;
}

.content {
    margin-left: 20%;
}

.note-body {
    display: inline-block;
    /* margin-left: 20%; */
}

.note {
    margin: 0.5rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.note-title {
    font-weight: bold;
    font-size: 18px;
}

.timestamp {
    font-size: 10px;
    margin: 3px;
}

.page-header {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin: 0.5rem;
    text-decoration: none;
}

.note-container {
    position: absolute;
    left: 25%;
    padding: 1rem;
    width: max-content;
    border: 1px solid black;
    border-radius: 10px;
}

.detail-title {
    font-size: 30px;
    margin-bottom: 1rem;
}

.detail-content {
    margin: 0.5rem;
    font-size: 18px;
    font-style: italic;
}

.edit {
    margin-top: 1rem;
    font-size: 10px;
}

.note-form {
    font-size: 15px;
}

.form-title {
    margin: 1rem;
    width: 100%;
    height: 30px;
    position: relative;
}

.title-label {
    position: absolute;
    top: 0;
    left: 0;
}

#id_title {
    margin-top: 20px;
    width: 300px;
    font-family: 'Manrope';
    border-radius: 5px;
    padding: 5px;
}

.form-body {
    width: 100%;
    height: 500px;
    margin: 1rem;
    position: relative;
    /* background-color: red; */
}

.body-label {
    position: absolute;
    top: 0;
    left: 0;
}

#id_body {
    width: 50%;
    height: 100%;
    margin-top: 20px;
    font-family: 'Manrope';
    border-radius: 10px;
    padding: 5px;
}

.save-btn {
    margin: 1rem;
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
    font-style: italic;
    width: 50px;
    background: linear-gradient( rgb(226, 248, 241), rgb(192, 212, 206));
}