{% extends 'base.html' %}

{% block content %}
<h2>New Note</h2>
<form method="POST" class="note-form">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {{ form.non_field_errors }}
    <div class="form-title">
        {{ form.title.errors }}
        <label for="{{ form.title.id_for_label }}" class="title-label">Title:</label>
        {{ form.title }}
    </div>
    <div class="form-body">
        {{ form.body.errors }}
        <label for="{{ form.title.id_for_label }}" class="body-label">Body:</label>
        {{ form.body }}
    </div>
    <button type="submit" class="save-btn">Save</button>
</form>
{% endblock %}